.article__wrapper {
  max-width: 700px;
  margin: 0 auto;
  padding: 1em;
}

.article__title {
  // font-family: $cardo;
  font-size: $mod;
  line-height: 1;
}

.article__img { width: 100%; }

.article__body {
  ul { 
    padding-left: 2em; 
    margin-top: 1em;
  }
  ol { 
    padding-left: 2em; 
    margin-top: 1em;
  }
  p { 
    font-size: main;
    margin-top: 1em; 
  }
  h2 { margin-top: 1em; }
  h3 { margin-top: 1em; }
}

.article__date {
  color: $grey-200;
  display: block;
}

.article__intro {
  text-align: left;
  margin: 1em;
}

