.img__drag-area {
  border-radius: $br;
  border: 2px $theme-red dashed;
}
.img__list {
  
}
.img__list-item {
  width: 150px;
}

.highlight {
  border-color: $theme-grey;
}

.all-photos__wrapper {
  padding: 1em;
  @include bp-sml {
    border-left: 2.5px dashed $theme-orange;
  }
}

.all-photos__container {
  @include flex(row, wrap, flex-start, flex-start);
  padding: 1em 0;
}

.image-select__container {
  width: 100%;
  max-height: 50vh;
  overflow-y: scroll;
  @include bp-sml {
    @include flex(row, wrap, flex-start, flex-start);
  }
}

.isSelected {
  background-color: $blue;
}

.user__img__wrapper {
  cursor: pointer;
  height: 150px;
  width: 150px;
  overflow: hidden;
  &:hover {
    @extend .isSelected;
  }
}

.user__img {
  height: auto;
  width: 150px;
}