.banner { 
  @include bp-tiny {
      max-height: 300px;
  }
  @include bp-sml {
      max-height: 350px;
  }
  @include bp-mdm {
      max-height: 500px;
  }
  @include bp-lrg {
      max-height: 650px;
  }
  max-height: 600px;
  overflow: hidden;
  display:flex;
  justify-content: center;
  align-items: center;
}

.banner__img {
  width: 700px;
  max-height: 600px;
  @include bp-tiny {
    width: 100%;
    max-height: 100%;
  }
}

.home__img__container {
    min-height: 270px;
    max-height: 270px;
    min-width: 270px;
    max-width: 270px;
    overflow: hidden;
    @include flex(row, nowrap, center, center);
    border-radius: 100%;
}
.home__img--welcome {
    height: 270px;
    display: block;
}

.home-intro {
    margin: 1em auto;
    padding:  0 1.5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 270px;
    @include bp-tiny {
        flex-flow: row nowrap;
        width: auto;
        // max-width: 700px;
    }
}

.home-intro__text {
    @include bp-tiny {
        margin-left: 1.5em;
    }
}


.recent-posts__grid {
    padding: 1.5em;
    @include bp-tiny {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.5em;
    }
}

.recent-post__detail {
    @include transition();
    max-width: 100%;
    color: $theme-black;
    text-decoration: none;
    margin: 1.5em 0;
    display: block;

    @include bp-tiny {
        margin: 0;
    }

    h3 {
        @include transition();
        font-size: $mdm;
    }

    span {
        display: block;
        font-size: $sml;
        line-height: 120%;
        margin-bottom: 1.5em;
        color: $grey-200;
    }

    &:hover {
        h3 {
            color: $theme-red;
        }
    }
}

.recent-post__img__cont {
    @include flex(row, wrap, center, center);
    max-height: 250px;
    overflow: hidden;
}

.recent-post__img {
    width: 100%;

}